<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<form th:action="@{/posts/{id}/edit}" th:object="${post}" method="post">-->
<!--    <input type="hidden" th:field="*{id}" />-->
<!--    <div>-->
<!--        <label for="title">Title:</label>-->
<!--        <input type="text" th:field="*{title}" />-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="body">Body:</label>-->
<!--        <textarea th:field="*{body}"></textarea>-->
<!--    </div>-->
<!--    <div>-->
<!--        <button type="submit">Update</button>-->
<!--    </div>-->
<!--</form>-->
<!--</html>-->